.#{$ui-prefix}-switch{
  display: inline-block;
  font-size: $font-size-base;
  font-family: $font-family;
  line-height: 1;
  cursor: pointer;
  *{
    box-sizing: border-box;
  }
}

.#{$ui-prefix}-switch-input{
  display: inline-block;
  position: relative;
  height: 22px;
  min-width: 44px;
  padding: 1px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, .25);
  vertical-align: bottom;

  &__inner{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #FFF;
    transform: translateX(0);
    transition: transform 200ms, width 100ms;

    &.mousedown {
       width: 20px + 6;
    }
  }

  &__origin{
    display: none;
  }

  &__off,
  &__on{
    position: absolute;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #FFF;
    font-weight: 200;
  }

  &__off{
    right: 6px;
  }

  &__on{
    left: 6px;
  }
}

.#{$ui-prefix}-switch.on{
  .#{$ui-prefix}-switch-input{
    background-color: $blue-base;
    &__inner{
      transform: translateX(22px);
      &.mousedown {
        transform: translateX(22px - 6);
      }
    }
  }
}

.#{$ui-prefix}-switch.disabled{
  cursor: not-allowed;
  .#{$ui-prefix}-switch-input{
    border-color: $disabled-color;
    background-color: rgba($disabled-color, .2);
    &__inner{
      background-color: rgba($disabled-color, .6);
    }
  }
}

.#{$ui-prefix}-switch-label{
  display: inline-block;
  line-height: 22px;
}
