// red
$red-light       :#f46e65;
$red-base        :#f04134;
$red-dark        :#d73435;

// green
$green-light     :#3dbd7d;
$green-base      :#00a854;
$green-dark      :#00924c;

// blue
$blue-light      :#49a9ee;
$blue-base       :#108ee9;
$blue-dark       :#0e77ca;

// pink
$pink-light      :#f7629e;
$pink-base       :#f5317f;
$pink-dark       :#dc277d;

//orange
$orange-light    :#f78e3d;
$orange-base     :#f56a00;
$orange-dark     :#d75000;

// purple
$purple-light    :#948aec;
$purple-base     :#7265e6;
$purple-dark     :#6252cd;

// yellow
$yellow-light    :#ffce3d;
$yellow-base     :#ffbf00;
$yellow-dark     :#e09a00;

// cyan
$cyan-light      :#3db8c1;
$cyan-base       :#00a2ae;
$cyan-dark       :#008997;


// gray
$gray-light      :#d9d9d9;
$gray-base          :#bfbfbf;
$gray-dark       :#919191;
