.v-radio{
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1;
  cursor: pointer;

  &:hover {
    .v-radio-input{
      border-color: $blue-base;
    }
  }
}

.v-radio-input {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: text-bottom;
  border-radius: 14px;
  border: 1px solid $color-default;

  transition: all 200ms;

  &-origin {
    display: none;
  }

  &-inner{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top:  -3px;

    border-radius: 6px;
    background-color: #FFF;
    transform: scale(0);
    transition: all 200ms;
  }
}

.v-radio-label{
  padding-left: 2px;
  line-height: 16px;
}

.v-radio.checked{
  .v-radio-input{
    border-color: $blue-base;
    &-inner{
      background-color: $blue-base;
      transform: scale(1);
    }
  }
}

.v-radio.disabled{
  cursor: not-allowed;
  .v-radio-input{
    border-color: $disabled-color;
    background-color: rgba($disabled-color, .2);
  }
  &.checked{
    .v-radio-input{
       &-inner{
        background-color: $disabled-color;
      }
    }
  }
}

.v-radio-group{
  display: inline-block;
  line-height: 28px;
}
