@import "../themes/default";
@import "../core/index";

.#{$ui-prefix}-alert{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 48px;
  position: relative;

  border-style: solid;
  border-radius: 4px;
  border-width: 1px;

  &.info{
    border-color: #d2eafb;
    background-color: #ecf6fd;

    .#{$ui-prefix}-alert-head .icon{
      color: $blue-base;
    }
  }

  &.success{
    border-color: #cfefdf;
    background-color: #ebf8f2;

    .#{$ui-prefix}-alert-head .icon{
      color: $green-base;
    }
  }

  &.warn{
    border-color: #fff3cf;
    background-color: #fffaeb;

    .#{$ui-prefix}-alert-head .icon{
      color: $orange-base;
    }
  }

  &.error{
    border-color: #fcdbd9;
    background-color: #fef0ef;

    .#{$ui-prefix}-alert-head .icon{
      color: $red-base;
    }
  }

  &.has-description{
    .#{$ui-prefix}-alert-head .icon{
      font-size: 22px;
    }
    .#{$ui-prefix}-alert-content__message{
      font-size: 14px;
      margin-bottom: 4px;
    }
  }

  &__close{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

    .icon{
      font-size: 12px;
      color: #999;
      &:hover{
        color: #333;
      }
    }
  }
}

.#{$ui-prefix}-alert-head{
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.#{$ui-prefix}-alert-content{
  display: inline-block;
}
