.#{$ui-prefix}-message-root {
  position: fixed;
  top: 0;
  bottom:  auto;
  left: 0;
  right: 0;
  z-index: -1;
  text-align: center;
  font-family: $font-family;
  font-size: $font-size-base;
}

.#{$ui-prefix}-message-box {
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;

  &:last-child{
    .#{$ui-prefix}-message-wrapper{
      animation-name: topFade;
      animation-duration: 100ms;
      animation-timing-function: ease-in;
    }
  }

  &.hiding{
    transform: translateY(-100%);
    overflow: hidden;
    transition: transform 150ms;
  }
}

.#{$ui-prefix}-message-wrapper {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.v-message-content {
  display: flex;
  justify-content: center;
  .#{$ui-prefix}-message-icon{
    .#{$ui-prefix}-icon {
      font-size: 16px;
    }
    &__success {
      color: $green-light;
    }
    &__error {
      color: $red-light;
    }
    &__warning {
      color: $yellow-light;
    }
    &__info {
      color: $blue-light;
    }
    &__loading {
      color: $blue-light;
    }
  }
  .#{$ui-prefix}-message-body{
    padding-left: 8px;
    line-height: 16px;
  }
}


@keyframes topFade {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0)
  }
}
