.v-pagination{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  letter-spacing: 0;
  line-height: 1;
  font-family: $font-family;
  font-size: $font-size-base;

  &-prev,
  &-item,
  &-next{
    display: inline-block;
    border: 1px solid #d9d9d9;
    min-width: 28px;
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;

    .v-icon{
      font-size: 10px;
    }

    >a{
      display: inline-block;
      text-decoration: none;
      color: $text-color;
    }

    &:hover{
      border-color: $blue-light;
      >a{
        color: $blue-light;
      }
    }

    &.active{
      background-color: $blue-light;
      border-color: $blue-light;
      >a{
        color: #FFF;
      }
    }

    &.disabled{
      border-color: #ddd;
      cursor: not-allowed;
      >a{
        color: #ddd;
        cursor: not-allowed;
      }
    }
  }

  &-prev{
    margin-right: 8px;
  }
  &-item{
    margin-right: 8px;
  }

  &-pagesize-select{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }

  &-prev5,
  &-next5{
    display: inline-block;
    min-width: 28px;
    height: 28px;
    margin-right: 8px;
    font-size: 12px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    >a{
      display: inline-block;
      text-decoration: none;
      color: $text-color;
    }
    a::before{
      font-family:"vueantd" !important;
      content: "\e647";
    }
  }

  &-next5{
    a:hover{
      &::before{
        font-size: 8px;
        content: "\e61f\e61f";
      }
    }
  }
  &-prev5{
    a:hover{
      &::before{
        font-size: 8px;
        content: "\e620\e620";
      }
    }
  }

}
