@import "../themes/default";
@import "../core/index";
@import "mixin";

.#{$ui-prefix}-btn {
  padding: $btn-padding-base;
  margin-right: 6px;
  margin-bottom: 10px;
  line-height: $line-height-base;
  color: $text-color;
  background-color: #FFF;
  border: 1px solid $color-default;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:hover{
    color: $blue-light;
    border-color: $blue-light;
  }

  &:active{
    color: $blue-dark;
  }

  &.disabled{
    color: $disabled-color;
    border-color: rgba($disabled-color, .2);
    background-color: rgba($disabled-color, .1);
    cursor: not-allowed;
    &:hover{
      color: $disabled-color;
      border-color: rgba($disabled-color, .2);
      background-color: rgba($disabled-color, .1);
    }
  }
}

// 按钮样式
.#{$ui-prefix}-btn-default{
   @include btnClickedAnimate(primaryClicked);
}

.#{$ui-prefix}-btn-dashed{
  @include btnClickedAnimate(primaryClicked);

  border-style: dashed;
}

.#{$ui-prefix}-btn-primary{
  @include btnClickedAnimate(primaryClicked);

  color: #FFF;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover{
    background-color: $blue-light;
    border-color: $blue-light;
    color: #FFF;
  }

  &:active{
    background-color: $blue-dark;
  }
}

.#{$ui-prefix}-btn-danger{
  @include btnClickedAnimate(dangerClicked);
  color: #FFF;
  background-color: $color-danger;
  border-color: $color-danger;

  &:hover{
    background-color: $red-light;
    border-color: $red-light;
    color: #FFF;
  }

  &:active{
    background-color: $red-dark;
  }
}

// 按钮尺寸
.#{$ui-prefix}-btn-small{
  padding: $btn-padding-small;
}

.#{$ui-prefix}-btn-large{
  padding: $btn-padding-large;
}

@keyframes primaryClicked {
  from {
    box-shadow: 0 0 0 1px rgba($blue-light, .2);
  }
  to {
    box-shadow: 0 0 0 4px rgba($blue-light, .1);
  }
}

@keyframes dangerClicked {
  from {
    box-shadow: 0 0 0 1px rgba($red-light, .2);
  }
  to {
    box-shadow: 0 0 0 4px rgba($red-light, .1);
  }
}
