.#{$ui-prefix}-collapse {
  &.bordered{
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }
}

.#{$ui-prefix}-collapse-item{
  &.open{
    .#{$ui-prefix}-collapse-item-header-default{
      .flag{
        transform: rotate(90deg);
      }
    }
  }
  &-header{
    cursor: pointer;
    &-default{
      position: relative;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 32px;
      background-color: #EEE;
      .flag{
        position: absolute;
        left: 0;
        top: 0;
        padding: 8px;
        transition: all .3s;
      }
    }
  }
  &-body{
    height: 0;
    transition: all .3s;
    overflow: hidden;
    &-content{
      padding: 16px;
    }
  }
}
