@import "../color/colors";

// PREFIX
$ui-prefix              : v;

// COLORS
$color-primary          : $blue-base !default;
$color-success          : $green-base !default;
$color-warning          : $yellow-base !default;
$color-danger           : $red-base !default;
$color-default          :#D9D9D9 !default;

// Fonts
$font-family            : "Segoe UI", "Helvetica Neue", Helvetica, "PingFang SC",
                          "Hiragino Sans GB", "Microsoft YaHei", 'SimSun', sans-serif !default;
$font-size-sm           : 10px !default;
$font-size-base         : 12px !default;
$font-size-lg           : 14px !default;
$line-height-base       : 1.5 !default;
$text-color             : lighten(#000, 35%) !default;
$heading-color          : lighten(#000, 25%) !default;
$help-color             : lighten(#000, 55%) !default;
$disabled-color         : lighten(#000, 75%) !default;


// LINKS
$link-color             : $blue-base !default;
$link-hover-color       : $blue-light !default;
$link-active-color      : $blue-dark !default;


// ICON
$icon-size-base         : 16px !default;
$icon-url               :'./fonts/v-iconfont' !default;

// GRID
$grid-columns           : 24 !default;
$grid-breakpoints       : (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default;

// BUTTON
$btn-padding-small      : 4px 8px;
$btn-padding-base       : 8px 16px;
$btn-padding-large      : 10px 20px;

