.#{$ui-prefix}-table{
  border-radius: 4px;
  font-size: $font-size-base;
  font-family: $font-family;
  *{
    box-sizing: border-box;
  }
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    thead>tr>th{
      padding: 12px 6px;
      color: $heading-color;
      text-align: left;
      line-height: 1.2;
      font-weight: 500;
      background-color: #F7f7f7;
    }
    tbody>tr{
      &:hover{
        background-color: rgba($blue-light, .1);
      }
    }
    tbody>tr>td{
      padding: 12px 6px;
      color: $text-color;
      text-align: left;
      line-height: 1.2;
      font-weight: 500;
      border-bottom: 1px solid #f7f7f7;
    }
  }
  .v-checkbox-group{
    display: block;
  }
}

.#{$ui-prefix}-table-small{
  table{
    thead>tr>th,
    tbody>tr>td{
      padding: 8px 4px;
    }
  }
}

.#{$ui-prefix}-table-large{
  table{
    thead>tr>th,
    tbody>tr>td{
      padding: 16px 8px;
    }
  }
}

.#{$ui-prefix}-table-header-fixed{
  .#{$ui-prefix}-table-body-wrapper{
    overflow-x: scroll;
  }
}
