.#{$ui-prefix}-menu {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-base;
  list-style: none;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.#{$ui-prefix}-menu-item {
  padding-left: 24px;
  padding-right: 24px;
  line-height: 42px;
  position: relative;

  .#{$ui-prefix}-tooltip{
    display: block;
  }
  .#{$ui-prefix}-popper{
    line-height: 1.5;
  }
  &:hover {
    color: $blue-light;
  }
  cursor: pointer;
}

.#{$ui-prefix}-submenu {
  &__title {
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 42px;
    cursor: pointer;

    .#{$ui-prefix}-tooltip{
      display: block;
    }
    .#{$ui-prefix}-popper{
      line-height: 1.5;
    }

    &:hover {
      color: $blue-light;
    }
    &:after {
      position: absolute;
      right: 24px;
      top: 0;
      display: inline-block;
      font-family: "vantd";
      font-size: 10px;
      content: "\ee29";
      transition: all .3s;
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
    .#{$ui-prefix}-menu-item {
      padding-left: 24px * 2;
    }
  }
  &.open {
    background-color: rgba(#ecf6fd, .3);
    .#{$ui-prefix}-submenu__title {
      &:after {
        position: absolute;
        right: 24px;
        top: 0;
        display: inline-block;
        font-family: "vantd";
        content: "\ee29";
        transform: rotate(180deg);
      }
    }
    .#{$ui-prefix}-submenu__content {
      max-height: 420px;
    }
  }
}

.#{$ui-prefix}-menu-inline {
  .#{$ui-prefix}-menu-item {
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: " ";
      display: inline-block;
      width: 2px;
      height: 42px;
      background-color: $blue-light;
      transform: scaleY(0);
      transition: all .1s;
    }
    &.selected {
      background-color: #ecf6fd;
      color: $blue-light;
      &:after {
        transform: scaleY(1);
      }
    }
  }
}

.#{$ui-prefix}-menu-horizontal {
  .#{$ui-prefix}-menu-item {
    display: inline-block;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: " ";
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: $blue-light;
      transform: scaleX(0);
      transition: all .1s;
    }
    &.selected {
      color: $blue-light;
      &:after {
        transform: scaleX(1);
      }
    }
  }
  .#{$ui-prefix}-submenu {
    position: relative;
    display: inline-block;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: " ";
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: $blue-light;
      transform: scaleX(0);
      transition: all .1s;
    }
    &.selected {
      color: $blue-light;
      &:after {
        transform: scaleX(1);
      }
    }

    .#{$ui-prefix}-submenu__title {
      display: inline-block;
      &::after {
        right: 4px;
      }
    }
    .#{$ui-prefix}-submenu__content {
      max-height: none;
      background-color: #FFF;
      border-radius: 4px;
      padding-top: 8px;
      padding-bottom: 4px;
      .#{$ui-prefix}-menu-item {
        display: block;
        min-width: 160px;
        padding-left: 16px;
        padding-right: 16px;
        &:after{
          display: none;
        }
        &.selected{
          background-color: #ecf6fd;
        }
      }
    }
  }
}

.#{$ui-prefix}-menu-vertical{
  .#{$ui-prefix}-menu-item {
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: " ";
      display: inline-block;
      width: 2px;
      height: 42px;
      background-color: $blue-light;
      transform: scaleY(0);
      transition: all .1s;
    }
    &.selected {
      background-color: #ecf6fd;
      color: $blue-light;
      &:after {
        transform: scaleY(1);
      }
    }
  }
  .#{$ui-prefix}-submenu{
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: " ";
      display: inline-block;
      width: 2px;
      height: 42px;
      background-color: $blue-light;
      transform: scaleY(0);
      transition: all .1s;
    }
    &.selected {
      color: $blue-light;
      &:after {
        transform: scaleY(1);
      }
    }
    &__title{
      &:after{
        transform: rotate(90deg);
      }

    }
    &__content{
      max-height: none;
      padding-top: 8px;
      padding-bottom: 4px;
      background-color: #FFF;
      border-radius: 4px;
      .#{$ui-prefix}-menu-item{
        min-width: 160px;
        padding-left: 16px;
        padding-right: 16px;
        &:after{
          display: none;
        }
      }
    }
  }
}

.#{$ui-prefix}-menu__light{
  background-color: #FFF;
}


.#{$ui-prefix}-menu__dark{
  background-color: #404040;
  color: #EEE;

  .#{$ui-prefix}-menu-item{
    &::after{
      display: none;
    }

    &.selected{
      background-color: $blue-light;
      color: #FFF;
    }
  }

  .#{$ui-prefix}-submenu{
    &.open{
      .#{$ui-prefix}-submenu__content{
        background-color: #333;
      }
    }
  }
}
