@import '../themes/default.scss';
@import '../core/index.scss';

.#{$ui-prefix}-radio{
  display: inline-block;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 12px;

  &:hover {
    .#{$ui-prefix}-radio-input{
      border-color: $blue-base;
    }
  }
}

.#{$ui-prefix}-radio-input {
  position: relative;

  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: middle;
  border-radius: 7px;
  border: 1px solid $color-default;

  transition: all 200ms;

  &__origin {
    display: none;
  }

  &__inner{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top:  -3px;

    border-radius: 4px;
    background-color: #FFF;
    transform: scale(0);
    transition: all 200ms;
  }
}

.#{$ui-prefix}-radio-label{
  padding-left: 2px;
}

.#{$ui-prefix}-radio.checked{
  .#{$ui-prefix}-radio-input{
    border-color: $blue-base;
    &__inner{
      background-color: $blue-base;
      transform: scale(1);
    }
  }
}
