@import "../themes/default";
@import "../core/index";
.#{$ui-prefix}-checkbox {
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 12px;
}

.#{$ui-prefix}-checkbox-input {
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid $color-default;
  border-radius: 2px;
  &__origin {
    height: 0;
    width: 0;
    display: none;
  }
  &__inner {
    position: relative;
    &:after {
      position: absolute;
      left: 3px;
      top: 2px;
      content: " ";
      display: block;
      height: 4px;
      width: 7px;
      border: 2px solid #FFF;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg) scale(0);
      transition: all 100ms;
    }
  }
}

.#{$ui-prefix}-checkbox.checked {
  .#{$ui-prefix}-checkbox-input {
    background-color: $blue-base;
    border-color: $blue-base;
    &__inner {
      &:after {
        transform: rotate(-45deg) scale(1);
      }
    }
  }
}

.#{$ui-prefix}-checkbox-label {
  padding-left: 4px;
}
