@import "mixin";

.v-btn {
  padding: 0 15px;
  height: $btn-height-base;
  font-size: $font-size-base;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;

  .v-icon{
    font-size: 12px;
  }

  &:hover,
  &.loading{
    color: $blue-light;
    border-color: $blue-light;
  }

  &.loading{
    cursor: default;
  }

  &.disabled{
    color: $disabled-color;
    border-color: rgba($disabled-color, .2);
    background-color: rgba($disabled-color, .1);
    cursor: not-allowed;
    &:hover,
    &:not(.loading):active{
      color: $disabled-color;
      border-color: rgba($disabled-color, .2);
      background-color: rgba($disabled-color, .1);
      cursor: not-allowed;
    }
  }
}

// type
.v-btn-default{
  @include btnClickedAnimate(primaryClicked);
  background: #FFF;
  border: 1px solid $color-default;
  &:not(.loading):active{
    border-color: $blue-dark;
    color: $blue-dark;
  }
}

.v-btn-dashed{
  @include btnClickedAnimate(primaryClicked);
  background: #FFF;
  border: 1px dashed $color-default;
  &:not(.loading):active{
    border-color: $blue-dark;
    color: $blue-dark;
  }
}

.v-btn-primary{
  @include btnClickedAnimate(primaryClicked);
  color: #FFF;
  background: $color-primary;
  border: 1px solid $color-primary;
  &:hover,
  &.loading{
    background-color: $blue-light;
    border-color: $blue-light;
    color: #FFF;
  }

  &:not(.loading):active{
    background-color: $blue-dark;
    border-color: $blue-dark;
  }
}

.v-btn-danger{
  @include btnClickedAnimate(dangerClicked);
  color: #FFF;
  background-color: $color-danger;
  border: 1px solid $color-danger;

  &:hover,
  &.loading{
    background-color: $red-light;
    border-color: $red-light;
    color: #FFF;
  }

  &:not(.loading):active{
    background-color: $red-dark;
    border-color: $red-dark;
  }
}

// 按钮形状
.v-btn-circle{
  padding: 0;
  width: 28px;
  border-radius: 50%;
}

// 按钮尺寸
.v-btn-small{
  height: $btn-height-sm;
  &.v-btn-circle{
    width: $btn-height-sm;
  }
}

.v-btn-large{
  height: $btn-height-lg;
  &.v-btn-circle{
    width: $btn-height-lg;
  }
}


// 按钮组
.v-btn-group{
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 10px;
  font-size: 0;

  .v-btn{
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .v-btn:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .v-btn:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .v-btn-default{
    &:not(:last-child){
      border-right-width: 0;
      &:not(.disabled):hover{
        border-right-width: 1px;
        &+.v-btn-default{
          border-left-width: 0;
        }
      }
    }
  }

  .v-btn-dashed{
    &:not(:last-child){
      border-right-width: 0;
      &:not(.disabled):hover{
        border-right-width: 1px;
        &+.v-btn-dashed{
          border-left-width: 0;
        }
      }
    }
  }

  .v-btn-primary{
    &:not(:last-child){
      border-right: 1px solid $blue-dark;
    }
  }

  .v-btn-danger{
    &:not(:last-child){
      border-right: 1px solid $red-dark;
    }
  }
}

@keyframes primaryClicked {
  from {
    box-shadow: 0 0 0 1px rgba($blue-light, .2);
  }
  to {
    box-shadow: 0 0 0 5px rgba($blue-light, .1);
  }
}

@keyframes dangerClicked {
  from {
    box-shadow: 0 0 0 1px rgba($red-light, .2);
  }
  to {
    box-shadow: 0 0 0 5px rgba($red-light, .1);
  }
}
