.#{$ui-prefix}-date-picker {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-base;
  font-family: $font-family;
  line-height: 1;
}

.#{$ui-prefix}-date-picker-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  background-color: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
  &-header {
    border-bottom: 1px solid #EEE;
    input {
      display: inline-block;
      border: none;
      line-height: 28px;
      padding-left: 8px;
      padding-right: 8px;
      width: 100%;
      outline: none;
    }
  }
}

.#{$ui-prefix}-calendar-panel{
  &-header {
    display: flex;
    flex-direction: row;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    a {
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: $blue-light;
      }
    }
  }
  &-body{
    padding: 8px;
  }
  .v-calendar-prev,
  .v-calendar-next {
    text-align: center;
    width: 33px;
    cursor: pointer;
  }
  .v-calendar-prev-step,
  .v-calendar-next-step {
    text-align: center;
    width: 16px;
    cursor: pointer;
  }
  .v-calendar-select {
    flex: 1;
    text-align: center;
  }
}

.#{$ui-prefix}-calendar-century-panel,
.#{$ui-prefix}-calendar-decade-panel{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    &::after{
      content: " ";
      display: block;
      clear: both;
    }

    li{
      padding-top: 12px;
      padding-bottom: 12px;
      width: 33.3%;
      float: left;
      text-align: center;
    }

    a{
      display: inline-block;
      text-decoration: none;
      padding: 8px;
      border-radius: 4px;
      color: rgba(0,0,0,.65);

      &:hover{
        color: $blue-light;
        background-color: rgba($blue-light, .1);
      }
    }

    .v-calendar-century-next,
    .v-calendar-century-prev,
    .v-calendar-decade-next,
    .v-calendar-decade-prev{
      a{
        color: rgba(0, 0, 0, .25);
      }
    }

    .v-calendar-decade-selected,
    .v-calendar-year-selected,
    .v-calendar-month-selected{
      a{
        color: #FFF;
        background-color: $blue-light;
      }
    }
  }
}

.#{$ui-prefix}-calendar-month-panel{
  table{
    width: 100%;
    tr>td{
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;
    }
    tr>th{
      text-align: center;
      font-weight: 500;
      line-height: 20px;
    }
    a{
      display: inline-block;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
      color: rgba(0,0,0,.65);
      &:hover{
        color: $blue-light;
        background-color: rgba($blue-light, .1);
      }
    }
    .v-calender-month-next,
    .v-calender-month-prev{
      a{
        color: rgba(0, 0, 0, .25);
      }
    }
    .v-calender-month-selected{
      a{
        color: #FFF;
        background-color: $blue-light;
      }
    }
  }
}
