.#{$ui-prefix}-picker {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-base;
  font-family: $font-family;
  line-height: 1;
}

.#{$ui-prefix}-picker-panel {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
  &-head {
    border-bottom: 1px solid #EEE;
    input {
      display: inline-block;
      border: none;
      line-height: 28px;
      padding-left: 8px;
      padding-right: 8px;
      width: 100%;
      outline: none;
    }
  }
}

.#{$ui-prefix}-calendar-picker-panel {
  &-head {
    display: flex;
    flex-direction: row;
    line-height: 28px;
    border-bottom: 1px solid #eee;
    a {
      text-decoration: none;
      &:hover {
        color: $blue-light;
      }
    }
  }
  .v-calendar-picker-prev-year,
  .v-calendar-picker-next-year {
    text-align: center;
    width: 33px;
    cursor: pointer;
  }
  .v-calendar-picker-prev-month,
  .v-calendar-picker-next-month {
    text-align: center;
    width: 16px;
    cursor: pointer;
  }
  .v-calendar-picker-select {
    flex: 1;
    text-align: center;
  }

  &-body{
    padding: 4px 8px;
  }
}

.v-date-picker-table {
  .v-date-picker-header,
  .v-date-picker-cell{
    width: 33px;
    line-height: 18px;
    padding: 4px 0;
    font-weight: 400;
  }
  .v-date-picker-cell{
    text-align: center;
    &-inner{
      display: inline-block;
      border-radius: 2px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      cursor: pointer;

      &:hover{
        background-color: #ecf6fd;
      }
      &.selected{
        background-color: #108ee9;
      }
    }

    &.prev,
    &.next{
      color: rgba(0, 0, 0, .25);
    }
  }
}
