.#{$ui-prefix}-picker {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-base;
  font-family: $font-family;
  line-height: 1;
}

.#{$ui-prefix}-picker-panel {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
  &-head {
    border-bottom: 1px solid #EEE;
    input {
      display: inline-block;
      border: none;
      line-height: 28px;
      padding-left: 8px;
      padding-right: 8px;
      width: 100%;
      outline: none;
    }
  }
}

.#{$ui-prefix}-calendar-picker-panel {
  &-head {
    display: flex;
    flex-direction: row;
    line-height: 28px;
    border-bottom: 1px solid #eee;
    a {
      text-decoration: none;
      &:hover {
        color: $blue-light;
      }
    }
  }
  .v-calendar-picker-prev-year,
  .v-calendar-picker-next-year {
    text-align: center;
    width: 33px;
    cursor: pointer;
  }
  .v-calendar-picker-prev-month,
  .v-calendar-picker-next-month {
    text-align: center;
    width: 16px;
    cursor: pointer;
  }
  .v-calendar-picker-select {
    flex: 1;
    text-align: center;
  }
}

.v-date-picker-table {
  thead {
    th {
      width: 33px;
      line-height: 18px;
    }
  }
  tbody {
    td {
      width: 33px;
      line-height: 18px;
      text-align: center;
      padding-top: 6px;
      padding-bottom: 6px;
      div{
        display: inline-block;
        width: 24px;
        line-height: 24px;
        border-radius: 2px;
        cursor: pointer;
        &:hover{
          background-color: #ecf6fd;
        }
      }
    }
  }
}
