.#{$ui-prefix}-backtop{
  position: fixed;
  bottom: 50px;
  right: 50px;
  line-height: 1;
  cursor: pointer;

  &__inner{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background-color: $blue-base;

    &:hover{
      background-color: $blue-light;
    }

    .v-icon{
      font-size: 18px;
    }
  }
}
