@import "../themes/default";
@import "../common/index";

.#{$ui-prefix}-breadcrumb {
  font-size: $font-size-base;
  font-family: $font-family;
  a{
    color: $link-color;
    text-decoration: none;

    &:hover{
      color: $link-hover-color;
    }
    &:visited{
      color: $link-active-color;
    }
  }
  .#{$ui-prefix}-breadcrumb-item:last-child {
    font-weight: bold;
  }
}

.#{$ui-prefix}-breadcrumb-item {
  display: inline-block;
}

.#{$ui-prefix}-breadcrumb-separator {
  margin-left: 2px;
  margin-right: 2px;
}
