@import "../themes/default";
@import "../common/index";

.#{$ui-prefix}-badge{
  display: inline-block;
  position: relative;
}

.#{$ui-prefix}-badge__nowrap{
  .#{$ui-prefix}-badge-count{
    position: static;
  }
}

.#{$ui-prefix}-badge-count{
  display: inline-block;
  position: absolute;
  right: -10px;
  top: -10px;
  height: 20px;
  min-width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: $font-size-base;
  text-align: center;
  color: #FFF;
  line-height: 20px;
  border-radius: 20px;
  background-color: $red-base;
}

.#{$ui-prefix}-badge-dot{
  display: inline-block;
  position: absolute;
  right: -4px;
  top: -4px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: $red-base;
}
